{% from 'form_elements.html' import input_range, input_field, select_field %}

<form class="pt-6 grid grid-cols-2 gap-x-2" hx-post="api/review" hx-swap="outerHTML">
    <div class="col-span-2">
        {{
        select_field('brew-method', 'Brew Method', [
        {'value': 'Pour Over', 'text': 'Pour Over', 'selected': true},
        {'value': 'Aeropress', 'text': 'Aeropress'},
        {'value': 'Cold Brew', 'text': 'Cold Brew'}
        ])
        }}
    </div>

    <div class="col-span-2">
        {{
        select_field('coffee', 'Coffee', [
        {'value': 'Ocean Grind', 'text': 'Ocean Grind', 'selected': true},
        {'value':'Seven Seeds', 'text': 'Seven Seeds'},
        {'value': 'Inglewood', 'text': 'Inglewood'}
        ])
        }}
    </div>



    <div>
        {{ input_field('weight', 'weight', 'Weight (g)', 30)}}
        {{ input_field('water', 'water', 'Water (g)', 500)}}
        {{ input_field('grind-size', 'grind-size', 'Grind Size (1-30)', 12)}}
        {{ input_field('temperature', 'temperature', 'Temperature (°C)', 95) }}
    </div>
    <div>
        {{ input_field('rating', 'rating', 'Rating (1-10)', 5) }}
        {{ input_field('funkiness', 'funkiness', 'Funkiness (1-10)', 5) }}
        {{ input_field('acidity_bitterness', 'acidity_bitterness', 'Acidity/Bitterness (1-10)', 5) }}
        {{ input_field('strength', 'strength', 'Strength (1-10)', 5) }}
    </div>


    <label class="form-control">
        <div class="label">
            <span class="label-text-alt">Notes</span>
        </div>
        <textarea class="textarea textarea-bordered h-24" placeholder="" id="notes" name="notes" rows="4"
            cols="50"></textarea>
    </label>

    <button class="btn btn-primary mt-8">Submit</button>
</form>